* {
    margin: 0;
    padding: 0;
}

.fdl-video {
    position: relative;
    overflow: hidden;
}

.fdl-video .fdl-video-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fdl-video .player object {
    outline: none;
}

/***********************************************************/

.fdl-video .fdl-controls {
    position: absolute;
    bottom: 0;
    height: 25px;
    color: #fff;
    width: 100%;
    background-color: #333;
}

.fdl-video .fdl-controls .fdl-controls-bar div {
    float: left;
}

.fdl-video .fdl-controls .fdl-play-pause {
    width: 20px;
    height: 20px;
}

.fdl-video .fdl-controls .fdl-play-pause.playing {
    background-color: #ff0;
}

.fdl-video .fdl-controls .fdl-play-pause.paused {
    background-color: #0f0;
}

.fdl-video .fdl-controls .fdl-stop {
    width: 20px;
    height: 20px;
    background-color: #f00;
}

.fdl-video .fdl-controls .fdl-volume {
    width: 20px;
    height: 20px;
}

.fdl-video .fdl-controls .fdl-progress-bar {
    position: relative;
    height: 20px;
    background-color: #0ff;
}

.fdl-video .fdl-controls .fdl-progress-bar > div {
    position: absolute;
}

.fdl-video .fdl-controls .fdl-progress-bar .fdl-handle {
    width: 10px;
    height: 10px;
    background-color: #00f;
}

.fdl-video .fdl-controls .fdl-progress-bar .fdl-play-progress {
    height: 100%;
    background-color: #999;
}

.fdl-video .fdl-controls .fdl-progress-bar .fdl-load-progress {
    height: 100%;
    background-color: #666;
}

.fdl-video .fdl-controls .fdl-fullscreen {
    width: 20px;
    height: 20px;
    background-color: #f0f;
}

.fdl-video .fdl-controls .fdl-time-separator {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 6px;
    background-color: #f00;
}

.fdl-video .fdl-controls .fdl-volume-display {
    width: 40px;
    background-color: #000;
}

.fdl-video .fdl-controls .fdl-volume-display {
    position: relative;
}

.fdl-video .fdl-controls .fdl-volume-wrapper div {
    float: left;
    margin-right: 2px;
    background-color: #f0f;
}

.fdl-video .fdl-controls .fdl-volume-wrapper div.on {
    background-color: #0f0;
}


.fdl-video .player {
    height: 100%;
}