* {
  margin: 0;
  padding: 0;
}

/*--- ProxyPlayer ---*/
.pp-video {
  position: relative;
  background-color: #000;
}
.pp-video .player {
  z-index: 665;
  position: absolute;
  height: 100%;
}
.pp-video .player object {
  outline: none;
}

/*--- Controls ---*/
.pp-video .pp-controls {
  position: absolute;
  z-index: 666;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.pp-control,
.pp-control-fixed,
.pp-control-flexible {
  float: left;
}
.pp-video .pp-overlays,
.pp-control-absolute {
  position: absolute;
}
.pp-video .pp-controls .pp-control-bar {
  position: absolute;
  height: 20px;
  bottom: 0;
  color: #fff;
  background-color: #333;
}

/*--- Start Video Button ---*/
.pp-video .pp-controls .pp-start-video .button {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background-color: #f0f;
}
.ready .pp-controls .pp-start-video .button,
.loading .pp-controls .pp-start-video .button,
.paused .pp-controls .pp-start-video .button,
.stopped .pp-controls .pp-start-video .button,
.buffering .pp-controls .pp-start-video .button {
  display: block;
}

/*--- Play Button ---*/
.pp-controls .pp-play-pause {
  width: 20px;
  height: 20px;
  background-color: #ff0;
}
.ready .pp-controls .pp-play-pause,
.loading .pp-controls .pp-play-pause,
.buffering .pp-controls .pp-play-pause,
.stopped .pp-controls .pp-play-pause,
.paused .pp-controls .pp-play-pause {
  background-color: #0f0;
}

/*--- Stop Button ---*/
.pp-controls .pp-stop {
  width: 20px;
  height: 20px;
  background-color: #f00;
}

/*--- Progress Bar ---*/
.pp-controls .pp-progress-bar {
  position: relative;
  height: 20px;
  background-color: #0ff;
  overflow: hidden;
}
.pp-controls .pp-progress-bar .pp-load-progress,
.pp-controls .pp-progress-bar .pp-play-progress {
  position: absolute;
  height: 100%;
}
.pp-controls .pp-progress-bar .pp-play-progress {
  background-color: #999;
}
.pp-controls .pp-progress-bar .pp-load-progress {
  background-color: #666;
}
.pp-controls .pp-progress-bar .pp-handle {
  width: 1px;
  height: 100%;
  background-color: #f00;
  position: absolute;
}

/*--- Fullscreen Button ---*/
.pp-video.pp-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
}
.pp-fullscreen .pp-controls {
  bottom: 0;
}
.pp-controls .pp-fullscreen {
  width: 20px;
  height: 20px;
  background-color: #f0f;
}

/*--- Time Display ---*/
.pp-controls .pp-time-separator {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 6px;
  background-color: #f00;
}

/*--- Volume Control ---*/
.pp-controls .pp-volume {
  position: relative;
  width: 40px;
  background-color: #000;
}
.pp-controls .pp-volume-wrapper div {
  float: left;
  margin-right: 2px;
  background-color: #f0f;
  overflow: hidden;
}
.pp-controls .pp-volume-wrapper div.on {
  background-color: #0f0;
}